@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17171a; */

  display: flex;
  justify-content: center;
}

text {
  font: 16px sans-serif;
  fill: #fff;
  transition: all 0.3s;
}

.label {
  fill: #000;
}

.chart-svg {
  /* background: #fff2f2;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 30px 3px #e78267; */
}

.lf-player-container {
  display: flex;
}

.player-car {
  margin-right: auto !important;
  margin-left: 20px !important;
}
/* .chart {
  max-width: 600px;
  max-height: 600px;
} */

.chart-svg {
  /* width: 100%;
  height: 100%; */
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) rotate(-15deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}
