@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #7899ef;
  font-family: "Inter", sans-serif;
}

text {
  font: 16px;
  fill: #fff;
  transition: all 0.3s;
}

.label {
  fill: #000;
}

.chart-svg {
  background: #ffff;
  border-radius: 50%;
  outline: 3px solid #000;
}

.lf-player-container {
  display: flex;
}

.player-car {
  margin-right: auto !important;
  margin-left: 20px !important;
}
/* .chart {
  max-width: 600px;
  max-height: 600px;
} */

.chart-svg {
  /* width: 100%;
  height: 100%; */
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) rotate(-15deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

.title-block {
  background: #000;
  border-radius: 10px;
  transform: skew(22deg, 4deg);
  border: 3px solid #fff;
}

h1 {
  font-family: "Londrina Shadow", cursive;
}

h2,
h3,
h4,
p {
  font-family: "Inter", sans-serif;
}
