@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #7899ef;
}

text {
  font: 16px sans-serif;
  fill: #fff;
  transition: all 0.3s;
}

.label {
  fill: #000;
}

.chart-svg {
  background: #ffff;
  border-radius: 50%;
  outline: 5px solid #000;
}

.lf-player-container {
  display: flex;
}

.player-car {
  margin-right: auto !important;
  margin-left: 20px !important;
}
/* .chart {
  max-width: 600px;
  max-height: 600px;
} */

.chart-svg {
  /* width: 100%;
  height: 100%; */
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) rotate(-15deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}
